name: build

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
          bundler: 2
      - name: Lint
        run: bundle exec rubocop

  test:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'
          - ruby
          - jruby
          - truffleruby
        gemfile:
          - gemfiles/rails_6_1.gemfile
          - gemfiles/rails_7_0.gemfile
          - gemfiles/rails_7_1.gemfile
        exclude:
          - os: windows-latest
            ruby: jruby
          - os: windows-latest
            ruby: truffleruby
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        env:
          BUNDLE_GEMFILE: "${{matrix.gemfile}}"
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        env:
          BUNDLE_GEMFILE: "${{matrix.gemfile}}"
        with:
          ruby-version: ${{matrix.ruby}}
          bundler-cache: true
          bundler: 2
      - name: Test
        run: bundle exec rake test
        env:
          BUNDLE_GEMFILE: "${{matrix.gemfile}}"

  test-vendor:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ruby:
          - '3.3'
          - jruby
        gemfile:
          - test/gemfiles/rails_7_0_dartsass.gemfile
        exclude:
          - os: windows-latest
            ruby: jruby
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install current gem
        run: |
          gem build dartsass-sprockets.gemspec
          gem install dartsass-sprockets-*.gem
      - name: Checkout
        uses: actions/checkout@v3
        env:
          BUNDLE_GEMFILE: "${{matrix.gemfile}}"
        with:
          repository: twbs/bootstrap-rubygem
          path: vendor/bootstrap
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        env:
          BUNDLE_GEMFILE: "${{matrix.gemfile}}"
        with:
          ruby-version: ${{matrix.ruby}}
          bundler-cache: true
          bundler: 2
      - name: Test
        run: |
          cd vendor/bootstrap
          bundle exec rake test
        env:
          BUNDLE_GEMFILE: "${{matrix.gemfile}}"
